@import "tailwindcss";


@tailwind base;
@tailwind components;
@tailwind utilities;

/* Preline UI */
@import "tailwindcss";

@plugin "@midudev/tailwind-animations";

/* Importar Preline después de Tailwind */
@custom-variant dark (&:where(.dark, .dark *));

/* @import "../node_modules/preline/variants.css"; */
@import "../node_modules/preline/variants.css";


#root{
    min-height: 100dvh;
    height: auto;
    scroll-behavior: smooth;
}

/* from-blue-600/10  to-blue-600/10   */
/* <a class="md:order-1 relative focus:outline-hidden before:absolute before:inset-0 before:z-10 before:border before:border-gray-200 before:rounded-xl before:transition hover:before:border-2 hover:before:border-blue-600 focus:before:border-2 focus:before:border-blue-600 hover:before:shadow-lg dark:before:border-neutral-800 dark:hover:before:border-blue-500 dark:focus:before:border-blue-500 dark:rounded-xl" href="./examples.html">
            <div class="relative overflow-hidden size-full rounded-xl">
              <div class="p-6 flex flex-col justify-center items-center md:min-h-120 text-center rounded-xl dark:border-neutral-700">
                <p class="bg-clip-text bg-linear-to-l from-purple-400 to-blue-600 text-transparent text-xs font-semibold uppercase">
                  Over
                </p>
                <span class="bg-clip-text bg-linear-to-l from-purple-400 to-blue-600 text-transparent text-7xl font-bold">
                  220+<!-- 222 -->
                </span>
                <h3 class="mt-6 text-lg md:text-xl font-semibold text-gray-800 dark:text-neutral-200">
                  Examples
                </h3>
                <p class="mt-2 text-gray-500 dark:text-neutral-400">
                  Kick-start your project effortlessly with Preline UI's wide range of examples and layouts using Tailwind CSS.
                </p>
                <p class="mt-6 inline-flex justify-center items-center gap-x-1 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-white text-sm font-medium rounded-lg py-3 px-4">
                  View Examples
                  <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="m9 18 6-6-6-6"></path>
                  </svg>
                </p>
              </div>

              <div class="absolute top-0 start-full -z-1 w-60 h-20 bg-blue-100 blur-[100px] -translate-y-full -translate-x-1/2 dark:bg-blue-900/30"></div>
              <div class="absolute top-0 start-full -z-1 w-60 h-20 bg-purple-100 blur-[100px] -translate-y-full -translate-x-1/2 dark:bg-violet-900/30"></div>
              <div class="absolute top-1/2 start-1/2 -z-1 w-60 h-32 bg-purple-100 blur-[100px] -translate-y-1/2 -translate-x-1/2 dark:bg-violet-900/30"></div>
              <div class="absolute -bottom-40 -end-24 -z-1 w-60 h-32 bg-blue-200 blur-[100px] dark:bg-blue-900/70"></div>
              <div class="absolute -bottom-[635px] -end-[635px] -z-1 size-[635px] border border-dashed border-violet-200 rounded-full transform -translate-y-[255px] -translate-x-[310px] opacity-40 dark:border-violet-900/60"></div>
              <div class="absolute -bottom-122.5 -end-122.5 -z-1 w-122.5 h-122.5 border border-dashed border-violet-200 rounded-full transform -translate-y-[190px] -translate-x-[240px] opacity-60 dark:border-violet-900/60"></div>
              <div class="absolute -bottom-85 -end-85 -z-1 w-85 h-85 border border-dashed border-violet-200 rounded-full transform -translate-y-[120px] -translate-x-42.5 opacity-80 dark:border-violet-900/60"></div>
              <div class="absolute -bottom-[200px] -end-[200px] -z-1 w-50 h-50 border border-dashed border-violet-200 rounded-full transform -translate-y-15 -translate-x-25 dark:border-violet-900/60"></div>
            </div>
          </a> */